# POSTGRES + DOCKER COMPOSE
POSTGRESQL_USERNAME=username
POSTGRESQL_PASSWORD=password
POSTGRESQL_DATABASE=database

# PRISMA
DATABASE_URL="postgresql://username:password@localhost:5432/database?schema=public"
